# compress output
<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
</IfModule>

# add headers for unknown types
AddType application/vnd.ms-fontobject .eot
AddType application/x-font-woff .woff
AddType application/octet-stream .otf .ttf

# URLs rewrite
<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>